<div id="euph_spot"></div>
<script type="text/javascript">
function loadXMLDoc() {
    var xmlhttp;

    if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
    } else {
        // code for IE6, IE5
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
           if(xmlhttp.status == 200){
               document.getElementById("euph_spot").innerHTML = xmlhttp.responseText;
           }
           else if(xmlhttp.status == 400) {
              console.log('There was an error 400')
           }
           else {
              console.log('something else other than 200 was returned')
           }
        }
    }
    xmlhttp.open("GET", "http://127.0.0.1:8080/b/get/4E6034956816465", true);
    xmlhttp.send();
}
loadXMLDoc()
</script>